 <div id="home-page-log-in" class="home-page-log-in" >   
<div style="left: 0px;" id="logo-big" class="left">    
      	<img id="robo1" src="../img/robo-self.png" alt="hi, i'm robo.to" width="160" height="201">
    </div>
  
    
   	<div class="lbs-form">

		<% form_tag do %>
       	 <fieldset>
			 <h1> please log-in </h1>
		
		  <div>
		    <span class="lb_field_tag" id="lb_tag_email">Email:</span>
		    <%=text_field_tag :e_mail, params[:e_mail]%>
		  </div>
		
		  <div>
		    <span class="lb_field_tag" id="lb_tag_password">Password:</span>
		   <%=password_field_tag :password, params[:password]%>
		  </div>

		
		 <div>
			<%= submit_tag "Login" %>
		 </div>
		
	   	</fieldset>
    	<% end %>
   </div>
</div>