

 <div id="home-page-new-challenge"  >
	
  
<!--- create a new challenge form -->
		
<div class="lb_auth_container">
	<div style="padding:10px">   
	<h2> Create a new challenge! </h2>
	</div>
	
		<form action="/challenges" class="new_place" id="new_place" method="post"> 
			
		<div class="lb_username_container block">
			    <label class ="lb_field_tag" for="place_name">Place Name:</label>
			    <input style="float left;"id="ch_place_name" class ="lb_field" name="challenge[place_name]" 
			 	 size="30" type="text"/>
		 
				<a class="select_place" style = "font-size: 15px;" href="javascript:void(0)"> Select place </a>
	
		</div>
		
			<div class="lb_username_container">
				<input id="ch_place_id" style="display: none;" class ="lb_field" name="challenge[place_id]" 
			    size="30" type="text" type ="hidden" />
			</div>
			
			<div class="lb_userid_container">
				<input id="user_id" style="display: none;" class ="lb_field" name="challenge[user_id]" 
				
			    <%if session[:user_id]%>
			    value = "<%=session[:user_id]%>"
			    <%end%>
			    size="30" type="text" type ="hidden" />
			</div>
			
			<div class="lb_username_container">
			    <label class ="lb_field_tag" for="challeng_name">challenge Name:</label>
			   	<input id="challenge_name" class ="lb_field" name="challenge[name]" size="30" type="text"/>
			</div>
		   <div class="lb_username_container">   
			     <label class ="lb_field_tag" for="points">points:</label>
	 		   	<input id="points" class ="lb_field" name="challenge[points]" size="30" type="text"/>
	         </div>
	        <div class="lb_username_container">
					     <label class ="lb_field_tag" for="description">description:</label>
	 		   	<input id="description" class ="lb_field" name="challenge[description]" size="30" type="text"/>
	         </div>
		    <div class="lb_username_container">
			 <label class ="lb_field_tag" for="question">Question:</label>
	 		   	<input id="Question" class ="lb_field" name="challenge[question]" size="30" type="text"/>
	         </div>
            	<div class="lb_username_container">
			     <label class ="lb_field_tag" for="answers">answers:</label>
	     		 <input id="answers" class ="lb_field" name="challenge[answer]" size="30" type="text"/>
	         </div>
	             	<div class="lb_username_container">
				  <input id="lb_form_submit" name="commit" type="submit" value="create a challenge" /> 
				 </div>
		 
		</div>
		</form>
			 
</div>
<!--- end of creating the new dialog form -->  

   	
