
	

	  <div class="place">
		
	 	<ul id="unsortable">
				<% @link_to_place_id = url_for(:controller =>'places' ,:action =>'show_challenges', :id=>place.id) %>
			     <a id="home" href = "<%=@link_to_place_id%>">
			<li>
		  	<div class="person-smirk">
		  	<img  src="/img/icon/geocode-71.png" style="width: 32px; height: 32px;">

		  	</div>
		  	<div class="person-status-watched">

			     
		    	 	<b><span style ="font-size:15px">
				      <%= place.name %></span>
				     </b>
			    
		  		 <div class="person-name">

		  			<span class="person-timestamp">
		  			111人到访, Challenges: &nbsp    &nbsp<span class ="button-ch"> 
			       <b>
			       	<%if !place.challenges.empty?%>
			        <%= place.challenges.count%>
			        <%end%>
			       </b></span></span>
		  		</div>

		  		<div class="rehash-list action-count"></div>
		  	</div>
		  <br class="clear">
		  <hr>  
		  </li>			
		</a>
		  </ul>   
	  </div>

